$main-color:       #3F51B5;
$secondary-color:  #505050;
$background-color: #E1E2E1;
$mobile-padding:   12px;
$desktop-padding:  24px;

$text-mega: 30px;
$text-1: 20px;
$text-2: 18px;
$text-3: 16px;
$text-4: 14px;
$text-5: 12px;

html, body, #root {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  word-break: break-word;
}

.flex-wrap {
  display: flex;
}

input[type="text"]{
  width: 100%;
  max-width: 320px;
  height: 34px;
  padding: 4px;
  outline: none;
}

input[type="submit"]:hover {
  cursor: pointer;
}

h1 {
  font-size: $text-mega;
}

.welcome-page {
  padding: 18% $mobile-padding $mobile-padding $mobile-padding;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
  input[type="submit"] {
    padding: 8px 14px;
    margin-top: 16px;
    width: 100%;
    max-width: 320px;
    color: #fff;
    font-size: $text-3;
    border: none;
    background-color: $main-color;
    border-radius: 5px;
    outline: none;
  }
}

.header-bar {
  background-color: $main-color;
  color: #fff;
  padding: $mobile-padding;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;

  .back-button {
    margin-right: 32px;
  }
}

.side-bar {
  display: none;
  padding-top: $desktop-padding;
  background-color: $secondary-color;
  color: #eee;
  font-size: $text-4;

  .side-bar-avatar {
    margin: 0 0 5px $desktop-padding;
    width: 50px;
  }

  .username {
    margin: 0 0 30px $desktop-padding;
  }

  .direct-m-title, .group-m-title {
    color: #A4A7BB;
    font-size: $text-2;
    margin: 0 0 10px $desktop-padding;
  }

  .group-m-title {
    margin-top: $desktop-padding;
  }

  .contact {
    padding: 8px $desktop-padding;
  }

  .contact:hover {
    background-color: #666;
    cursor: pointer;
  }

  .contact-icon {
    margin-right: 10px;
  }

  .online-icon, .offline-icon { 
    width: 8px;
    position: relative;
    bottom: 2px;
  }

  .group-chat {
    padding-left: 44px;
  }

  .current-group {
    background-color: #777;
  }
}

.message-history {
  background-color: $background-color;
  padding: 50px 0 50px $mobile-padding;
  margin-bottom: 50px;
}

$avatar-size: 40px;
$avatar-padding: 16px;
.message {
  padding: 10px 0;
  min-height: 75px;
  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    float: left;
    margin-right: $avatar-padding;
  }
  .not-avatar {
    margin-left: $avatar-size + $avatar-padding;
  }
  .username {
    font-weight: bold;
    font-size: $text-3;
    line-height: 14px;
    margin-right: 16px;
  }
  .time-stamp {
    color: #9B9B9B;
    line-height: 18px;
    font-size: $text-5;
  }
  .message-body {
    font-size: $text-4;
  }
}

.input-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  height: 55px;
  textarea {
    width: 100%;
    height: 54px;
    resize: none;
    padding: 16px 100px 6px 6px;
    position: absolute;
    bottom: 0;
    border: 3px solid $background-color;
    border-top: none; 
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  input[type="submit"] {
    position: absolute;
    right: 24px;
    bottom: 12px;
    padding: 6px 14px;
    color: #fff;
    font-size: $text-4;
    border: none;
    background-color: $main-color;
    border-radius: 5px;
    outline: none;
  }
}

.debug-toolbar {
  color: #fff;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background-color: $secondary-color;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  button {
    padding: 6px 14px;
    margin-top: 8px;
    color: #fff;
    font-size: $text-4;
    border: none;
    background-color: $main-color;
    border-radius: 5px;
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
}